#sticky-element-placeholder-override {
	width:0 !important;
	height:0 !important;
	margin:0 !important;
	padding:0 !important;
	overflow:hidden !important;
}

.sticky-element-original-override {
	position:static !important;
	margin-top: 0 !important;
	left:auto !important;
	top:auto !important;
}

a#sticky-element-dismiss-button {
	display:block;
	width:30px;
	height:29px;
	background-image:url('close.png');
	position:fixed;
}

.sticky-element-dismiss-hide {
	display:none !important;
}