#sticky-element-placeholder-override {
	width:0 !important;
	height:0 !important;
	margin:0 !important;
	padding:0 !important;
	overflow:hidden !important;
}

.sticky-element-original-override {
	position:static !important;
	margin-top: 0 !important;
	left:auto !important;
	top:auto !important;
}


a#sticky-element-dismiss-button {
	display:block;
	width:24px;
	height:24px;
	background:#000000;
	color:#ffffff;
	border-radius:50px;
	position:fixed;
	text-align:center;
	line-height:24px;
	border:solid 2px #ffffff;
	font-weight:bold;
	font-family:arial,helvetica;
	font-size:14px;
	text-decoration:none;
}

.sticky-element-dismiss-hide {
	display:none !important;
}